.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-menu-item {
  background-color: red;
  height: 200px;
  width: 200px;
}

.Board-Item-Incorect {
  background-color: red;
}
.Board-Item-Corect {
  background-color: green;
}
